<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Mr. Delivery</title>
    <link href="css/bootstrap-delivery.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4ab87b7dce.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand text-logo" href="/"> <i class="fas fa-hamburger"></i> Mr. Delivery</a>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a href="/login" class="btn btn-primary my-2 my-sm-0 border-1-w mr-1" type="button">Ingresa</a>
            </li>
            <li class="nav-item">
              <a href="/shopping-cart" class="btn btn-primary my-2 my-sm-0 border-1-w mr-1" type="button"><i class="fas fa-shopping-cart"></i></a>
            </li>
          <li class="nav-item dropdown">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle border-1-w mr-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/negocio"><i class="fas fa-shopping-cart"></i> Crear cuenta negocios</a>
                <a class="dropdown-item" href="/perfil"><i class="fas fa-user"></i> Mi perfil</a>
                <a class="dropdown-item" href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesion</a>
              </div>
            </div>
          </li>
          </ul>
      </div>
    </nav>

    {{{ body }}}
    
    <footer class="bg-primary pt-5 ">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-center">
            <a class="text-logo my-4 text-white"> <i class="fas fa-hamburger"></i> Mr. Delivery</a>
            <div class="row  my-4">
              <div class="col-12">
                <a href="#"><img src="img/androidapp.png" alt="" class="h-40px"></a>
                <a href="#"><img src="img/appleapp.png" alt="" class="h-40px"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <a class="text-rigth llamanos my-4 text-white" href="#"> <i class="fas fa-phone"></i> llamanos al 04141913827</a>
            <div class="row">
              <div class="col-12">
                <p class="text-white">Comentanos tu experiencia en mr. delivery</p>
                <input type="text" class="form-control">
                <button class="btn btn-primary my-2 border-1-w">Enviar</button>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <a class="text-white" href="https://redi-developers.com">Desarrollado por redi-developers.com</a>
          </div>
          <div class="col-12 text-center my-2 h-100px">
            <img src="img/fb.png" alt="" class="redes mx-1">
            <img src="img/ig.png" alt="" class="redes mx-1">
            <img src="img/ws.png" alt="" class="redes mx-1">
          </div>
        </div>
      </div>
    </footer>
<script src="js/jquery-3.5.1.slim.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>