 <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Categorias</h1>
          </div> 

          <div class="col-6">
            <a class="a-media" href="/menu">
              <div class="media rounded p-2 media-cat">
              <img src="img/McDonalds.jpg" class="mr-3 img-cat rounded" alt="categoria">
              <div class="media-body"> 
                <div class="calification"><i class="fas fa-hamburger amarillo2"></i>  4.5</div>
                <h5 class="mt-0">McDonalds</h5>
                  Restaurante de comida rapida<br>
                  Desde $3 - 
                  <i class="fas fa-clock"></i> 45 min
              </div> 
            </div>
            </a>
          </div>

          <div class="col-6">
            <a class="a-media" href="/menu">
              <div class="media rounded p-2 media-cat">
              <img src="img/McDonalds.jpg" class="mr-3 img-cat rounded" alt="categoria">
              <div class="media-body"> 
                <div class="calification"><i class="fas fa-hamburger amarillo2"></i>  4.5</div>
                <h5 class="mt-0">McDonalds</h5>
                  Restaurante de comida rapida<br>
                  Desde $3 - 
                  <i class="fas fa-clock"></i> 45 min
              </div> 
            </div>
            </a>
          </div>

          <div class="col-6">
            <a class="a-media" href="/menu">
              <div class="media rounded p-2 media-cat">
              <img src="img/McDonalds.jpg" class="mr-3 img-cat rounded" alt="categoria">
              <div class="media-body"> 
                <div class="calification"><i class="fas fa-hamburger amarillo2"></i>  4.5</div>
                <h5 class="mt-0">McDonalds</h5>
                  Restaurante de comida rapida<br>
                  Desde $3 - 
                  <i class="fas fa-clock"></i> 45 min
              </div> 
            </div>
            </a>
          </div>
          

          

        </div>
      </div>
    </div>