<div class="py-4 bg-azul-oscuro">
    <div class="container">
    <div class="row">
        <div class="col-md-4 text-center my-3">
            <h2 class="amarillo">¿Que se te antoja?</h2>
            <p class="text-white">Encuentra tu restaurante o comida favorita</p>
            <a href="/categorias" class="btn btn-primary">Ver todas las categorias</a>
        </div>
        <div class="col-md-8">
        <div class="row">
            <div class="col-4">
            <a href="#">
                <img src="img/burger.jpg" class="a-cat img-fluid mb-1" alt="">
                <p class="text-white">Burgers</p>
            </a>
            </div>
            <div class="col-4">
            <a href="">
            <img src="img/sushi.jpg" class="a-cat img-fluid mb-1" alt="">
                <p class="text-white">Sushi</p>
            </a> 
            </div>
            <div class="col-4">
            <a href="">
                <img src="img/pizza.jpg" class="a-cat img-fluid mb-1" alt="">
            <p class="text-white">Pizzas</p>
            </a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<section>
    <div class="container">
    <div class="row mt-4">
        <div class="col-sm-6 text-center mb-4">
        <h2>Populares en Nueva Esparta</h2>
        <p>Del restaurante a la puerta de tu hogar</p>
        </div>
        <div class="col-sm-6 text-center mb-4">
        <button class="btn text-white btn-azul-oscuro">Restaurantes en Nueva Esparta</button>
        </div>
    </div>
    <div class="row">
        
        <div class="col-sm-4">
        <div>
            <div class="corazon">
            <i class="fas fa-heart text-white"></i>
            </div>
            <img src="img/McDonalds.jpg" class="img-fluid" alt="">
        </div>
        <div><span class="float-right">4,5<i class="fas fa-star dorado"></i></span>
            <h3>Mc Donadls</h3>
            <p>60 - 50 min</p>
        </div>
        </div>

        <div class="col-sm-4">
        <div>
            <div class="corazon">
            <i class="fas fa-heart text-white"></i>
            </div>
            <img src="img/Subway.jpg" class="img-fluid" alt="">
        </div>
        <div><span class="float-right">4,5<i class="fas fa-star dorado"></i></span>
            <h3>Subway</h3>
            <p>60 - 50 min</p>
        </div>
        </div>

        <div class="col-sm-4">
        <div>
            <div class="corazon">
            <i class="fas fa-heart text-white"></i>
            </div>
            <img src="img/kfc.png" class="img-fluid" alt="">
        </div>
        <div><span class="float-right">4,5<i class="fas fa-star dorado"></i></span>
            <h3>KFC</h3>
            <p>60 - 50 min</p>
        </div>
        </div>
    </div>
    </div>
</section>
<section class="bg-white py-5">
    <div class="container pt-4">
    <div class="row">
        <div class="col-12">
        <h2>Encuentra tu comida favorita</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" >
        <a href="#">
            <div class="bg-categoria shadow" style="background-image: url(img/comida.jpg)">
            <h3 class="categria">Busca por tipo de comida</h3>
            </div>   
        </a>
        </div>
        <div class="col-sm-6" >
        <a href="#">
            <div class="bg-categoria shadow" style="background-image: url(img/restaurante.jpg)">
            <h3 class="categria">Busca por Restaurantes</h3>
            </div>
        </a>
        </div>
    </div>
    </div>
</section>