 <div class="banner">
      <img class="w-100" src="img/banner.png" alt="">
    </div>
    <div class="py-4">
      <div class="container">
        <div class="row">
          
          <div class="col-12">
            <div class="media my-3">
              <img src="img/McDonalds.jpg" class="mr-3 img-detalle rounded" alt="categoria">
                <div class="media-body">
                  <h2 class="mt-0">McDonalds</h2>
                  Restaurante de comida rapida<br>
                  <i class="fas fa-hamburger amarillo2"></i> 4.5
                </div> 
             </div>
            
          </div>
          <div class="col-12 text-center">
            <h1 class="my-3 menu">MENU</h1>
          </div>

          <div class="col-12">
            <div class="cet-menu bg-primary px-4">
              <h3 class="my-3 menu text-white">Hamburguesas</h3>
            </div>
          </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-12">
            <div class="cet-menu bg-primary px-4">
              <h3 class="my-3 menu text-white">Ensaladas</h3>
            </div>
          </div>

          <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="media rounded p-2 shadow">
                <img src="img/big.jpg" class="mr-3 img-cat rounded" alt="categoria">
                <div class="media-body"> 
                  <div class="cabecera">
                    <div class="agregar">
                      <a class="btn btn-primary" href="">
                        <i class="fas fa-plus"></i>  Agregar
                      </a>
                    </div>
                    <h4 class="mt-0">Big-Mac</h4>
                  </div>
                  Hamburguesa doble carne y doble queso con adereso ranch lechuga y tomate<br>
                  <h3 class="precio-detalle my-0"> 3$ </h3>
                </div> 
              </div>
            </div>
            
          </div> 
        </div>
      </div>
    </div>