   <div>
      <img class="w-100" src="img/noimage.png" alt="">
    </div>
    <a class="btn btn-info" href="">
        <i class="fas fa-camera"></i> Cargar una imagen
    </a>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 my-4">
                <img src="img/nologo.png" alt="" class="img-fluid"><br>
                <a class="btn btn-info" href="">
                    <i class="fas fa-camera"></i> Sube tu logo
                </a>
            </div>
            <div class="col-sm-8">
                <h3>Nombre de tu negocio</h3>
                <input type="text" class="form-control mb-3">
                <h4>Ubica tu direccion</h4><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d250637.13548100524!2d-64.09881051077043!3d11.023222321963015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sve!4v1594480108512!5m2!1ses-419!2sve" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <p class="mb-3">Comprobando tu direccion...</p>
                <h4>Indica cuales metodos de pago posees</h4>
                
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <img class="rounded mr-2 shadow" height="40px" src="img/pagos/dolares-efectivo.jpg" alt="">
                        Dolares en efectivo
                        <input class="float-right check" type="checkbox">
                    </li>
                    <li class="list-group-item">
                        <img class="rounded mr-2 shadow" height="40px" src="img/pagos/zelle.jpg" alt="">
                        Zelle
                        <input class="float-right check" type="checkbox">
                    </li>
                    <li class="list-group-item">
                        <img class="rounded mr-2 shadow" height="40px" src="img/pagos/paypal.jpg" alt="">
                        PayPal
                        <input class="float-right check" type="checkbox">
                    </li>
                    <li class="list-group-item">
                        <img class="rounded mr-2 shadow" height="40px" src="img/pagos/pago-movil.jpg" alt="">
                        Pago Movil
                        <input class="float-right check" type="checkbox">
                    </li>
                    <li class="list-group-item">
                        <img class="rounded mr-2 shadow" height="40px" src="img/pagos/transferencia-en-bolivares.jpg" alt="">
                        Transferencia en bolivares
                        <input class="float-right check" type="checkbox">
                    </li>
                </ul>
                <hr class="my-5">
                <h4>Crea tus categorias</h4>
                <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Categorias de tu negocio" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="button" id="button-addon2">Agregar</button>
                    </div>
                </div>
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        Categoria 1
                        <a class="btn btn-danger float-right" href=""> X </a>
                    </li>
                    <li class="list-group-item">
                        Categoria 2
                        <a class="btn btn-danger float-right" href=""> X </a>
                    </li>
                    <li class="list-group-item">
                        Categoria 3
                        <a class="btn btn-danger float-right" href=""> X </a>
                    </li>
                </ul>
                <a href="" class="btn btn-success form-control">Editar tu menú</a>
                <hr class="my-5">
                <div class="bg-light mb-5 pt-5 text-center">
                    <a class="btn btn-success mb-5 btn-lg" href=""> Guardar todos los cambios</a>
                </div>

            </div>
            
        </div>
    </div>