<div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <h1>Medios de pago</h1>
            </div>
            <div class="col-sm-6 mb-5">
                <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Mcdonalds tiene estos medios de pago disponibles
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img class="rounded mr-2 shadow" height="40px" src="img/pagos/dolares-efectivo.jpg" alt="">
                    Dolares en efectivo
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img class="rounded mr-2 shadow" height="40px" src="img/pagos/zelle.jpg" alt="">
                    Zelle
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img class="rounded mr-2 shadow" height="40px" src="img/pagos/paypal.jpg" alt="">
                    PayPal
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img class="rounded mr-2 shadow" height="40px" src="img/pagos/pago-movil.jpg" alt="">
                    Pago Movil
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img class="rounded mr-2 shadow" height="40px" src="img/pagos/transferencia-en-bolivares.jpg" alt="">
                    Transferencia en bolivares
                </a>
                </div>
            
            </div>
        </div>
    </div>